.center{
    text-align: center;
}
.background{
    background-color: #424b42;
}
.color-white{
    color: #f1fcfb;
}
.color-black{
    color: black;
}
.ml20{
    margin-left: 20px;
}
.mt20{
    margin-top: 20px;
}
.mb40{
    margin-bottom: 40px;
}
.textSize18{
    font-size: 18px;
}
.border{
    border: inset;
    padding: 10px
}
a:focus, a:hover {
    color: #00e8d3;
}